#pragma once
#include <jstruct.h>


// TODO: Add your struct declaration code here
jstruct jdate
{
public jreq:
    jwchar year[6];
    jwchar month[4];
    jwchar day[4];

public jopt:
};
